@import "variable.styl"
@import "mixin.styl"

body, html
  height: 100%
  line-height: 1
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $BgColor
  color: $CtColor

// 栅格系统
.g-gutter
  >* {
    display: block
    padding: 0 .134rem
  }
.g-row
  $clear()
  $flex()

.g-col
  width: 100%
  flex: 1 1 auto

// 列-8列栅格&偏移
for num in 1..8
  .g-col-{num}
    float: left
    width: (100 / 8 * num) + '%'
    word-wrap: break-word
    /*flexible-style*/
    flex: 0 0 auto

  .g-col-offset-{num}
    margin-left: (100 / 8 * num) + '%'
