@import "./variable.styl"

$clear()
  &:after
    content: ''
    display: block
    clear: both
    font-size: 0

// 不换行
$no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

$flex()
  line-height: normal
  display: flexbox
  flex-flow: row wrap

$px2rem($px)
  $px / $baseFontSize * 1rem

$round(n = 4)
  border-radius unit(n, px)

$border(d = all)
  if d == all
    border solid 1px #efefef
  else
    $border-direction(d)

$border-direction(d)
  border-{d} solid 1px #efefef
