<template>
  <div class="video">
    <div class="play-container">
      <div class="dplayer" v-show="!!player">
        <video id="my-player"
               class="video-js"
               preload="auto"
               controls
               data-setup="{}"></video>
      </div>
      <!-- end video container -->
      <img v-show="!player" src="~assets/head_img.png" alt="">
    </div>
    <div class="video-scroll-container">
      <scroll ref="scroll"
              :data="items"
              :scrollbar="scrollbarObj"
              :pullDownRefresh="pullDownRefreshObj"
              @pullingDown="onPullingDown">
        <div class="content">
          <div class="list-item g-row g-gutter" :class="{'list-item-current': index === itemIndex}" v-for="(item, index) in items" :key="index" @click="clickItem(item, index)">
            <div class="item-l g-col-3">
              <img v-lazy="item.bgkImg || imgUrl" alt="">
            </div>
            <div class="item-r g-col-5">
              <p><span class="htitle">{{item.name}}</span></p>
              <p><img class="view" src="~assets/icon_watch.png" alt=""><span>{{item.playTimes}}</span></p>
            </div>
          </div>
        </div>
      </scroll>
    </div>
  </div>
</template>

<script>
import 'video.js/dist/video-js.css'
import videojs from 'video.js'
import Scroll from 'components/scroll'

import { getAdvData, savePlayAction } from 'api/video'
import { getMyInfo } from 'api/common'
import { getQueryString } from 'common/js/utils'
import defautImg from 'assets/pic.png'

export default {
  name: 'Video',
  data () {
    return {
      options: {
        src: '',
        poster: '',
        id: '',
        notSupportedMessage: '浏览器不支持此播放器'
      },
      player: null,
      items: [],
      itemIndex: null,
      scrollbarObj: {
        fade: true
      },
      pullDownRefreshObj: {
        threshold: 90,
        stop: 40
      },
      imgUrl: defautImg
    }
  },
  methods: {
    async init () {
      this.userId = getQueryString('userId') || '0e674be49a5e4feeab1d15d9a159e9a3'
      this.type = await this.getMyInfo()
      if (this.type) {
        this.getAdvData(this.type)
      }
    },
    async getMyInfo () {
      const data = await getMyInfo(this.userId)
      if (data && data.obj) {
        return data.obj.type
      }
    },
    async getAdvData (type) {
      const data = await getAdvData(type)
      const moduleList = data.attributes.moduleList
      const index = moduleList.findIndex(ret => ret.name === '长沙分级阅读教研活动直播回放')
      if (index > -1) {
        this.items = moduleList[index].entryList
        if (this.items && this.items.length) {
          this.items.map(t => {
            t.bgkImg = t.bgkImg
            t.videoPath = t.videoPath
          })
        }
      }
    },
    async savePlayAction (entryId) {
      await savePlayAction(entryId, this.userId)
    },
    clickItem (item, index) {
      this.options.src = item.videoPath
      this.options.poster = item.bgkImg
      this.options.id = item.id
      this.itemIndex = index
      if (this.player) {
        this.switchHandle(this.options)
      } else {
        this.player = this.initPlayer(this.options)
      }
    },
    switchHandle ({src, poster}) {
      this.player.src(src)
      this.player.poster(poster)
    },
    onPullingDown () {
      // 更新数据
      this.getAdvData(this.type)
    },
    initPlayer (options) {
      const _this = this
      const paly = videojs('my-player', options)
      paly.src(options.src)
      paly.poster(options.poster)
      paly.ready(function () {
        this.on('playing', () => {
          _this.savePlayAction(options.id)
        })
      })
      return paly
    }
  },
  created () {
    this.init()
  },
  beforeDestroy () {
    if (this.player) {
      this.player.dispose()
    }
  },
  components: { Scroll }
}
</script>

<style scoped lang='stylus' rel='stylesheet/stylus'>
@import "~common/styles/mixin"

.video {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.play-container {
  width: 100%;
  height: 5rem;
  img {
    width: 100%;
  }
}
.dplayer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
.video-js {
  width: 100%;
  height: 100%;
}
.video-scroll-container {
  height: calc(100% - 5rem);
  background-color: #fff;
  .content {
    padding: .167rem 0;

    .list-item {
      padding: .34rem .267rem;
      border-top: solid 1px #F1F3F2;
      &:first-child {
        border-top: none;
      }
      .item-l, .item-r {
        height: 2.08rem;
        overflow: hidden;
      }
      .item-l {
        position: relative;
        border-radius: .087rem;
        &:after {
          content: ' ';
          position: absolute;
          width: .533rem;
          height: .533rem;
          bottom: .13rem;
          right: .26rem;
          background: url("~assets/icon_video.png") center center no-repeat;
          background-size: contain;
        }
        img {
          width: 100%;
        }
      }

      .item-r {
        p {
          &:last-child {
            padding-top: 1.1rem;
            * {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        .htitle {
          font-size: .373rem;
          color: #444;
        }
        .view {
          width: .46rem;
          font-size: .24rem;
          color: #666;
        }
      }
    }

    .list-item-current {
      .item-l {
        &:after {
          background-image: url("~assets/icon_video_playing.png");
        }
      }
      background-color: #F3F3F3;
    }
  }
}

</style>
