<template>
  <div class="mf-loading-container">
    <img src="~assets/loading.gif">
  </div>
</template>
<script type="text/ecmascript-6">
export default {
  name: 'loading'
}
</script>
<style lang="stylus" rel="stylesheet/stylus">
  .mf-loading-container
    img
      width: 20px
      height: 20px
      display: block
</style>
