<template>
  <div id="app">
    <img src="../../assets/logo.png">
    <HelloWorld/>
    <div class="wo-ce"></div>
  </div>
</template>

<script>
import HelloWorld from '../../components/HelloWorld'
import {getDetailByTeacher} from 'api/workspace'

export default {
  name: 'App',
  methods: {
    async init () {
      this.getDetailByTeacher()
    },
    async getDetailByTeacher () {
      const data = await getDetailByTeacher({
        homeworkId: 'H19KBz8Egiva2CvPxpJvZ7',
        userId: '683088b2a01e4d168fb06d43bcdb87ff'
      })
      console.log(data)
    }
  },
  created () {
    this.init()
  },
  components: {
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.wo-ce {
  width: 100px;
  height: 3rem;
}
</style>
